.password h1 {
  margin: auto;
  font-size: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-top: 50px;
}

.form label {
  margin: auto;
  margin-top: 30px;
  font-weight: bold;
  font-size: larger;
}

.form input {
  margin: auto;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  box-shadow: #38015c;
  margin-top: 10px;
}

.form button {
  margin: auto;
  margin-top: 30px;
  background-color: #38015c;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.form button:hover {
  background-color: black;
  color: wheat;
}
